#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
${symbol_pound} Usage

[Once the dependencies have been set][acquire], the skin can be used by adding the following element to the site.xml file:

```xml
<skin>
   <groupId>com.bernardomg.maven.skins</groupId>
   <artifactId>docs-maven-skin</artifactId>
   <version>${project.version}</version>
</skin>
```

${symbol_pound}${symbol_pound} Sample site.xml

The site requires a correctly configured site.xml file to work. For more details check the [custom site descriptors page][custom_site_descriptor], but the following shows an example of how it should look:

```xml
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/DECORATION/1.8.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/DECORATION/1.8.0 http://maven.apache.org/xsd/decoration-1.8.0.xsd">

   <skin>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
   </skin>

   <custom>
      <skinConfig>
         <keywords>Maven Site, fix, HTML5</keywords>
         <descriptionUrl>Check the documentation for the Docs Maven Skin</descriptionUrl>
         <twitterSite>@bmg</twitterSite>
         <topNav>
            <menu>Documentation</menu>
            <menu>Info and reports</menu>
         </topNav>
         <bottomNav>
            <menu>General Info</menu>
            <menu>Code</menu>
            <menu>Releases</menu>
         </bottomNav>
         <iconNav>
            <menu>Icons</menu>
         </iconNav>
      </skinConfig>
   </custom>

   <body>
      <menu name="General Info" inherit="top">
         <item name="Acquire" href="./acquire.html" />
         <item name="Usage" href="./usage.html" />
         <item name="Changes Log" href="./changes-report.html" />
      </menu>
      <menu name="Documentation" inherit="bottom">
         <item name="Acquire" href="./acquire.html" />
         <item name="Usage" href="./usage.html" />
         <item name="Tests" href="./tests.html" />
      </menu>
      <menu name="Info and reports" inherit="bottom">
         <item name="Info" href="./info.html" />
         <item name="Reports" href="./reports.html" />
         <item name="JavaDocs" href="./apidocs/" />
      </menu>
      <menu name="Code" inherit="bottom">
         <item name="SCM" href="${project.scm.url}">
            <description>GitHub</description>
         </item>
         <item name="CI" href="${project.ciManagement.url}">
            <description>${project.ciManagement.system}</description>
         </item>
         <item name="Issues" href="${project.issueManagement.url}">
            <description>${project.issueManagement.system}</description>
         </item>
      </menu>
      <menu name="Releases" inherit="bottom">
         <item name="Bintray" href="${bintrayURL}" />
         <item name="Maven Central" href="${mavenURL}" />
      </menu>
      <menu name="Icons" inherit="bottom">
         <item name="Github" img="github" href="${project.scm.url}" />
      </menu>
   </body>
</project>
```

${symbol_pound}${symbol_pound}${symbol_pound} Variables Substitution

It is recommended using Maven's variable substitution to make the file easier to mantain. For example by setting the *site.skin.version* property in the POM the skin configuration ends looking like this:

```xml
<skin>
   <groupId>${project.groupId}</groupId>
   <artifactId>${project.artifactId}</artifactId>
   <version>${symbol_dollar}{site.skin.version}</version>
</skin>
```

[acquire]: ./acquire.html
[custom_site_descriptor]: ./custom_site_descriptor.html
